.spreadsheet-edit-line {
    min-height: 30px;

    display: flex;
}

.spreadsheet-edit-line input {
    padding: 4px 8px;
    width: 100%;

    background: transparent;
    border: none;
}

.spreadsheet-edit-line input:focus {
    outline: none;
}

