.spreadsheet-menu {
    width: 100%;
    background: #f7f7f7;
    padding: 10px 0;
}

.spreadsheet-menu button {
    margin-right: 20px;
}

.spreadsheet-menu button:first-child {
    margin-right: 0;
}
