.spreadsheet-table-cell {
    box-sizing: content-box;
    min-width: 120px;

    border: 1px solid #e4e4e4;
}

.spreadsheet-table-cell input {
    background: transparent;
    border: none;
    padding: 8px;
    text-align: center;
    cursor: default;
}

.spreadsheet-table-cell:first-child {
    background: #ededed;
}

.spreadsheet-table-cell input:read-only:focus {
    outline: none;
}
